.task_library_container {
    background: #E6EBF2;
}
.task_library_nav{
    background: #FAFAFA;
}
.task_library_list_container{
    padding: 1rem;
}
.task_library_list_sub_container {
    border-radius: 16px;
    background: #FAFAFA;
    height: 100%;
    overflow-y: scroll;
    padding-top: 5rem;
}
.datagrid_wrapper{
    width: 50%;
    margin: auto;
}