* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clonos_export_options_container {
    min-width: 800px;
    /* height: 500px; */
    background-color: var(--clonos-global-white);
    padding: 2rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.clonos_export_options_select_format_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}